.WeatherDetails h1 {
  text-transform: capitalize;
}


.WeatherDetails #now {
  margin: 10px;
  position: relative;
  top: 20px;
  height: 180px;

}

.WeatherDetails canvas {
  position: relative;
  top: 10px;
  left: 5px;
}

.WeatherDetails #temperature-field {
  margin-bottom: 0px;
}

.WeatherDetails #temperature {
  font-size: 110px;
  text-align: right;
}

.WeatherDetails #units {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -165px;
  left: 55px;
}

.WeatherDetails #units .active {
  color: #fff;
  cursor: default;
}

.WeatherDetails #units .active:hover {
  color: #fff;
  cursor: default;
}

.WeatherDetails #units a {
  color: #ffc107;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.WeatherDetails #units a:hover {
  color: #7b1fa2;
  cursor: pointer;
}

.WeatherDetails .details {
  font-size: 14px;
  text-align: center;
  padding: 15px 20px 30px 20px;
}

.WeatherDetails .description:first-letter {
  text-transform: uppercase;
}
